@{
	ViewData["Title"] = "Admin";
}

<style>
	
</style>


<h1>Admin</h1>

<div class="row border mb-5">

	<div class="col h3">
		<a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>

	</div>
	<div class="col h3">
		<a asp-area="" asp-controller="Subscriptions" asp-action="Index">Subscriptions</a>

	</div>
	<div class="col h3">
		<a asp-area="" asp-controller="Wines" asp-action="Index">Wines</a>

	</div>
</div>

<partial name="Orders"/>
