@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!--nav bar logged in view-->
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <p class="boldTitle" style="text-align:end; font-size:6vw">Welcome</p>
          @*  <h1>@User.Identity?.Name!</h1>*@
        @*<a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>*@
    </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Profile">My Account</a>
        </li>
    <!--Nav bar-->
        <li class="nav-item ">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <img src="~/Images/home.png"> </a>
        </li>
    <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
        </li>
    <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Subscription">Subscription</a>
        </li>

    <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About | Contact</a>
        </li>
   @* <li>
         <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
    </li>*@

    <li class="nav-item">
			<form class="exit" asp-area="Identity" asp-page="/Account/Logout"
				  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class=" btn btn-outline-light btn-lg">Logout</button>
        </form>
    </li>
    }
else
    {
    <li class="nav-item "> 
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home  <img src="~/Images/home.png"> </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Subscription">Subscription</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About | Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    
}
</ul>
