<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
@{
	ViewData["Title"] = "About";
}
<style>
	.demo {
		padding: 100px 0;
	}
</style>
<container>
	<section>
		<div class="text-center">
			<div class="row">
				<h3 class="divaText">ABOUT US:</h3>
				<p>
					WINEZ is a wine subscription company that offers a unique experience to wine enthusiasts. They carefully curate a selection of high-quality wines from around the world and deliver them straight to your door on a monthly basis. With WINEZ, you can discover new and exciting wines that you might not have had the opportunity to try otherwise. They also provide tasting notes and pairing suggestions to help you fully appreciate the nuances of each bottle. Whether you're a casual wine drinker or a seasoned sommelier, WINEZ has something to offer everyone. Their subscriptions are flexible, so you can choose the frequency and duration that suits you best. Joining WINEZ is a fantastic way to expand your palate and indulge in some of the best wines the world has to offer.
					One of the standout features of WINEZ is their commitment to sustainability. They work closely with wineries that prioritize environmentally responsible practices, ensuring that their wines are both delicious and ethical. WINEZ also uses eco-friendly packaging materials to minimize their environmental impact. Their dedication to sustainability is just one example of how they prioritize their customers' values and needs. WINEZ is more than just a wine subscription company; they're a community of wine lovers who are passionate about discovering and sharing great wine. Whether you're hosting a dinner party, enjoying a cozy night in, or just looking to unwind after a long day, WINEZ has the perfect bottle for every occasion.
				</p>


			</div>
			<div class="row">
				<h1 class="divaText">ORIGINS:</h1>
				<p>WiNeZ was founded by two friends, Will and Nez, who shared a passion for fine wine and forensic science. They wanted to create wines that were not only delicious, but also authentic and traceable. They used cutting-edge technology to analyze the geochemistry of the soil, the vine, and the wine, creating a unique fingerprint for each bottle that could be verified by scanning a QR code on the label. This way, they could guarantee the origin and provenance of their wines, no matter where they were sold or how old they were. They named their company WiNeZ, combining their initials and playing on the word “wines”.</p>
			</div>
		</div>
	</section>

	<div class="row">
		<h3 class="divaText flipH">CONTACT US:</h3>
	</div><hr />
		<section class="contact">
            <div class="row" style="padding:15px; text-align:left" >
            <p>If you have any questions about WINEZ's subscription options, wine selections, or delivery process, our customer service team is happy to help. </p>
            <br /> <br />
            <p>Email: info@winz.co.nz</p>
            <p>Phone: +64 9 123 4567</p>
            <p>Address: 45 Queen Street, Auckland Central, Auckland 1010, New Zealand</p>
            <p>You can also follow WINEZ on social media for updates, news, and special offers:</p>
			<div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
				@*Social media Icons*@
				<ul class="wrapper text-center">
					<li class="icon facebook">
						<span class="tooltip">Facebook</span>
						<span>
							<i class="fab fa-facebook-f"></i><a href="https://www.facebook.com" target="_blank">
								<img src="~/Images/facebook_icon.png" style="height:100%;width:100%">
							</a>
						</span>
					</li>
					<li class="icon twitter">
						<span class="tooltip">Twitter</span>
						<span>
							<i class="fab fa-twitter"></i><a href="https://twitter.com"
											   target="_blank"><img src="~/Images/twitter.png" style="height:100%;width:100%"></a>
						</span>
					</li>
					<li class="icon instagram">
						<span class="tooltip">Instagram</span>
						<span>
							<i class="fab fa-instagram"></i><a href="https://www.instagram.com" target="_blank">
								<img src="~/Images/instagram_icon.png" style="height:100%;width:100%">
							</a>
						</span>
					</li>
					<li class="icon github">
						<span class="tooltip">Github</span>
						<span>
							<i class="fab fa-github"></i><a href="https://github.com/XaviarR/CapstoneWine" target="_blank">
								<img src="~/Images/github.png" style="height:100%;width:100%">
							</a>
						</span>
					</li>
					<li class="icon youtube">
						<span class="tooltip">Youtube</span>
						<span>
							<i class="fab fa-youtube"></i><a href="https://www.youtube.com" target="_blank">
								<img src="~/Images/youtube_icon.png" style="height:100%;width:100%">
							</a>
						</span>
				</ul>
			</div>
        </div>
		
        <div style="width:50vw">
			
			<form class="bk_blur" method="post">

				<label class="label">Name:</label>
				<input class="input text-white" autocomplete="on" name="AboutName" aria-required="true" placeholder="Name" required />
				<span class="text-danger"></span>

				<label class="label">Email:</label>
				<input class="input text-white" autocomplete="on" name="AboutEmail" aria-required="true" placeholder="name@example.com" required />
				<span class="text-danger"></span>

            <label class="label">Message:</label>
                <textarea style="height:170px; max-height:350px; min-height:60px" class="input" rows="6" cols="44" autocomplete="on" name="AboutText" method="get" aria-required="true" placeholder="Enter details here...."></textarea><br />
            
            <span class="text-danger"></span>
           
        <div class="row">
            <div class="col">
                <div class="text-end">
                    <div class="btn-group">
                        <input type="submit" value="Submit" class="btn btn-outline-light">
                    </div>
                  
                </div>
           </div>
        </div>
				
	</form>
    </div>
	</section>
</container>