@{
    ViewData["Title"] = "Help";
}
<div class="h1">
	Help Page
</div>



<div>
    <div class="h2">
        I can't log in to my account...
    </div>
    <div class="p">
        If you are having issues with your password you can click on forget password and enter your email to get sent a link to reset it.
    </div>
</div>
<div>
    <div class="h2">
        I didn't end up receiving my order...
    </div>
    <div class="p">
        Unfortunatley, at WineZ we are unable to help with delivery issues but we can suggest that you talk directly with the courier service to get your issue resolved.
    </div>
</div>
<div>
    <div class="h2">
        I encountered an error while using your website...
    </div>
    <div class="p">
        Please if you have any feedback and would like to contact us, you can email us at info@winz.co.nz or see our contact page for other ways.
    </div>
</div>
<div>
    <div class="h2">
        What is the return Policy?
    </div>
    <div class="p">
        We do not allow refunds on wines that have already been shipped/delivered.    
    </div>
</div>
<div>
    <div class="h2">
        What are the shipping options?
    </div>
    <div class="p">
        We have standard shipping options as well as options for rural areas.
    </div>
</div>
<div>
    <div class="h2">
        When will I receive my order?
    </div>
    <div class="p">
        You can view your order in your account, WineZ do not handle delivering orders personally so if you have any questions please contact the courier service.
    </div>
</div>
<div>
    <div class="h2">
        Can I make changes to an order I already placed?
    </div>
    <div class="p">
       Unfortunatly we do not allow already placed orders to be changed, however you can change your subscription service at any time. So your next order will be what you really want.
    </div>
</div>