@{
	ViewData["Title"] = "Help";
}

<style>
	.h2 {
		margin-bottom: 0.5em;
	}
	.p {
		margin-bottom: 1em;
	}
</style>


<h1 class="h1">
	Help Page
</h1>



<h2 class="h2">
	I can't log in to my account...
</h2>
<p class="p fs-5">
	If you are having issues with your password you can click on forget password and enter your email to get sent a link to reset it.
</p>
<h2 class="h2">
	I didn't end up receiving my order...
</h2>
<p class="p fs-5">
	Unfortunately, at WineZ we are unable to help with delivery issues but we can suggest that you talk directly with the courier service to get your issue resolved.
</p>
<h2 class="h2">
	I encountered an error while using your website...
</h2>
<p class="p fs-5">
	Please if you have any feedback and would like to contact us, you can email us at info@winz.co.nz or see our contact page for other ways.
</p>
<h2 class="h2">
	What is the return Policy?
</h2>
<p class="p fs-5">
	We do not allow refunds on wines that have already been shipped/delivered.
</p>
<h2 class="h2">
	What are the shipping options?
</h2>
<p class="p fs-5">
	We have standard shipping options as well as options for rural areas.
</p>
<h2 class="h2">
	When will I receive my order?
</h2>
<p class="p fs-5">
	You can view your order in your account, WineZ do not handle delivering orders personally so if you have any questions please contact the courier service.
</p>
<h2 class="h2">
	Can I make changes to an order I already placed?
</h2>
<p class="p fs-5">
	Unfortunatly we do not allow already placed orders to be changed, however you can change your subscription service at any time. So your next order will be what you really want.
</p>
