@{
	ViewData["Title"] = "Home Page";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    /* Container should be full height and full width */
   .container {
        position: relative;
        width: 100vw;
        height: 100vh;

    }

        /* background-color and color should be the same as the below otherwise it won't work */
        .container > .text {
            position: fixed;
            
            /*outline
            -webkit-text-fill-color:transparent;
            -webkit-text-stroke: 4px;
            /*remove above to have solid text*/

            inset: 0;
            display: grid;
            place-items: center;
            background-color: #000;
            color: #fff;
            font-weight: 900;
            font-size: 100px;
            font-family: sans-serif;

            /* Mix Blend Mode does the all magic */
            mix-blend-mode: multiply;
            user-select: none;
        }

        .container > .bg-video {
            width: 100%;
            height: 100%;
        }
       
     keyframes      
       
</style>

<div class="container">

    <video class="bg-video" controls="controls" autoPlay muted loop>
        <source src="~/video/texteffects.mp4" type="video/mp4" />
    </video>
    <div>
		<p class="text">WINEZ</p>
	</div>
</div>


