<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

@{
	ViewData["Title"] = "Home Page";
	var categories = ViewData["Categories"] as string[];
	// Ellie use this for the hover function
	string[] blurbs = {
		"Like a mischievous spirit, Cabernet Sauvignon delights in surprising your taste buds with its complex flavors.",
		
		"This wine offers a delightful melody of red berries, cherries, and subtle earthy notes.",
		
		"Much like the hipster who effortlessly stands out in a crowd.  With its dark fruit flavors, hints of spice, and a captivating intensity, Shiraz leaves a lasting impression on your palate.",
		
		"Merlot enters the stage with a velvety smoothness, captivating with its approachable and inviting nature.  This wine embraces flavors of ripe plum, black cherry, and a touch of chocolate, creating a truly delightful experience.",
		
		"The vibrant and lively extrovert, bursting with freshness and a zingy personality.  This wine offers vibrant citrus flavors, crisp acidity, and herbaceous notes, inviting you to join the party.",
		
		"The timeless and sophisticated trendsetter, exuding elegance and refined taste.  This wine showcases a graceful balance of flavors, offering notes of citrus, ripe apple, and a touch of creamy richness.",
		
		"The laid-back and easy-going free spirit, radiating a relaxed and approachable vibe.  This wine invites you to kick back and unwind with its smooth and silky texture, offering flavors of ripe pear, tropical fruits, and a hint of floral notes.",
		
		"This wine enchants with its aromatic profile, offering a delightful combination of floral notes, zesty citrus, and a touch of sweetness.  Riesling is like the hipster who effortlessly captivates attention with their vivacious personality and infectious laughter.",
	};
}

<body class="bg-home">
	<div style="text-align:center">
	<video class="hero" autoplay muted>
				<source src="../video/winez_black.mp4" type="video/mp4" />
	</video>
	</div>
	
	@for (var i = 0; i < categories.Length; i++)
	{
		ViewData["CurrentFilter"] = categories[i];
	
		<div class="slide-box" id="box@(i + 1)">
			<div class="vid-container" id="wine@(i + 1)">
				<!--Video-->
				<video class="bg-video" id="wine@(i + 1)" autoplay muted loop>
					<source src="/video/textvid.mp4" type="video/mp4" />
				</video>

b				<a class="text" id="wine@(i + 1)" href="/Shop/Category/?categoryFilter=@ViewData["CurrentFilter"]"><span>@ViewData["CurrentFilter"]</span></a>
			</div>
		</div>
		
		<div class="extraInfo">
				<p>@blurbs[i]</p>
		</div>
	}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
	<script src="~/js/scrolltrigger.js"></script>
</body>