
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Options";
}

<div>
	
	<div>
	<video class="hero" autoplay muted>
		<source src="/video/vidhero.mp4" type="video/mp4" />
	</video>
	</div>
	
@*	<ul class="poemText" style="font-family:Gruppo; font-size:medium; margin-top:-150px; align-content:start">
		<li>
			<span>Roses are red,</span>
		</li>
		<li>
			<span>Violets are blue,</span>
		</li>
		<li>
			<span>Poems are hard,</span>
		</li>
		<li>
			<span>Wine.</span>
		</li>
	</ul>*@
	
</div>

<div>
<ul class="wineText">
    <li>
       <span>CABERNET SAUVIGNON</span>
			<div class="extraInfo">
				<p>
				Like a mischievous spirit, Cabernet Sauvignon delights in surprising your taste buds with its complex flavors. 
				It dances across your palate with notes of blackcurrant, blackberry, and a hint of spice, leaving a lasting impression that lingers like a magical touch.
					<br /><br />
				When it comes to food, Cabernet Sauvignon pairs well with hearty and robust dishes. 
				Its bold character can complement the richness of grilled steaks, braised lamb, or venison. 
				It also embraces the flavors of aged cheeses, such as cheddar or Gouda, creating a delightful interplay of tastes. 
				Indulge in the magic of Cabernet Sauvignon as it elevates your dining experience with its enchanting presence and harmonious food pairings.
				Cheers to the captivating allure of Cabernet Sauvignon!
				</p>
				<button class="btn btn-outline-info w-50" style="align-items:end">Browse Selection</button>
			</div>
			
    </li>
    <li>
            <span>PINOT NOIR</span>
			<div class="extraInfo">
				<p>
					Pinot Noir gracefully glides onto the scene, captivating with its delicate and nuanced flavors. 
					This wine offers a delightful melody of red berries, cherries, and subtle earthy notes. Its smooth and silky texture leaves a lingering impression, like a gentle caress.
					<br /><br />
					A versatile partner for food, enhancing a variety of dishes, Pinot Noir is lighter body and softer tannins make it a perfect match for roasted poultry, grilled or pan-seared salmon. 
					The wine's charm shines when paired with lighter sauces, such as herb-roasted pork tenderloin or seared duck breast. 
					Savor the captivating allure of Pinot Noir as it weaves its magic.
				</p>
				<button class="btn btn-outline-info w-50" style="align-items:end">Browse Selection</button>
			</div>
    </li>
	<li>
		    <span>MERLOT</span>
			<div class="extraInfo">
				<p>
					Merlot enters the stage with a velvety smoothness, captivating with its approachable and inviting nature. 
					This wine embraces flavors of ripe plum, black cherry, and a touch of chocolate, creating a truly delightful experience. 
					Its supple texture caresses the palate, leaving a lasting impression that satisfies like a warm embrace.
					<br /><br />
					When it comes to food pairings, Merlot also delights in the company of pasta dishes, grilled vegetables, and dishes with soft cheeses. 
					Its fruit-forward nature and smooth tannins create a lovely balance and an interplay of flavors. 
					Let Merlot enchant your palate as it elevates your dining experience with its approachable presence and harmonious food pairings. E
					mbrace the captivating allure of Merlot and savor the moments of pure enjoyment.
				</p>
				<button class="btn btn-outline-info w-50" style="align-items:end">Browse Selection</button>
			</div>
	</li>
	<li>

            <span>SHRIAZ</span>
			<div class="extraInfo">
				<p>
					Shiraz is the bold and charismatic rebel, exuding confidence and a touch of mystery. 
					This wine has a robust and full-bodied personality, much like the hipster who effortlessly stands out in a crowd.
					With its dark fruit flavors, hints of spice, and a captivating intensity, Shiraz leaves a lasting impression on your palate.
					<br /><br />
					Shiraz pairs well with hearty and rich dishes. Its bold character complements grilled meats, such as barbecued ribs or charred steaks, bringing out their smoky flavors. 
					It also pairs beautifully with bold cheeses, like aged cheddar or blue cheese, creating a delightful interplay of tastes. 
					Embrace the rebellious charm of Shiraz as it elevates your dining experience with its powerful presence and harmonious food pairings.

				</p>
			<button class="btn btn-outline-info w-50" style="align-items:end">Browse Selection</button>
			</div>
    </li>
   
	<li>
		<span>RIESLING</span>
			<div class="extraInfo">
				<p>
					Riesling is the vibrant and effervescent trendsetter, radiating energy and a playful spirit. 
					This wine enchants with its aromatic profile, offering a delightful combination of floral notes, zesty citrus, and a touch of sweetness. 
					Riesling is like the hipster who effortlessly captivates attention with their vivacious personality and infectious laughter.
					<br /><br />
					Riesling is versatile and pairs well with a range of dishes. Its acidity and touch of sweetness make it an excellent companion for spicy cuisine, such as Thai or Indian dishes, as it balances the heat and adds a refreshing element. 
					Riesling also complements lighter fare like seafood, salads, and dishes with fresh herbs. Let the vibrant allure of Riesling shine as it adds a zing of excitement to your dining experience.
				</p>
				<button class="btn btn-outline-info w-50" style="align-items:end">Browse Selection</button>
			</div>
	</li>
	<li>
		<span>PINOT GRIS</span>
			<div class="extraInfo">
				<p>
					Pinot Gris is the laid-back and easy-going free spirit, radiating a relaxed and approachable vibe. 
					This wine invites you to kick back and unwind with its smooth and silky texture, offering flavors of ripe pear, tropical fruits, and a hint of floral notes. 
					Pinot Gris is like the hipster who embraces a carefree lifestyle, effortlessly enjoying the simple pleasures of life.
					<br /><br />
					Pinot Gris pairs well with a variety of lighter dishes. Its versatility makes it a great match for seafood, such as grilled shrimp or seared scallops. 
					It also complements vegetarian fare, like roasted vegetable medleys or fresh summer salads. 
					Enjoy the easy-going charm of Pinot Gris as it adds a touch of relaxation to your dining experience.
				</p>
				<button class="btn btn-outline-info w-50" style="align-items:end">Browse Selection</button>
			</div>
	</li>
	<li>
         <span>CHARDONAY</span>
			<div class="extraInfo">
				<p>
				Chardonnay is the timeless and sophisticated trendsetter, exuding elegance and refined taste. 
				This wine showcases a graceful balance of flavors, offering notes of citrus, ripe apple, and a touch of creamy richness. 
				Chardonnay is like the hipster who effortlessly embraces classic fashion and art, radiating an air of timeless style.
					<br /><br />
				Chardonnay pairs well with a range of dishes, particularly those with creamy or buttery elements. 
				It harmonizes beautifully with roasted poultry, such as chicken or turkey, and complements dishes with rich sauces. 
				Chardonnay also pairs well with seafood, like lobster or buttery shrimp scampi. 
				Embrace the timeless allure of Chardonnay as it elevates your dining experience with its sophisticated presence and harmonious food pairings.
				</p>
				<button class="btn btn-outline-info w-50" style="align-items:end">Browse Selection</button>
			</div>
    </li>
	<li>
		<span>SAUVIGNON BLANC</span>
			<div class="extraInfo">
				<p>
					Sauvignon Blanc is the vibrant and lively extrovert, bursting with freshness and a zingy personality. 
					This wine offers vibrant citrus flavors, crisp acidity, and herbaceous notes, inviting you to join the party. 
					Sauvignon Blanc is like the hipster who effortlessly energizes a room with their infectious enthusiasm and lively conversations.
					<br /><br />
					Sauvignon Blanc is a versatile companion for a variety of dishes. 
					Its bright acidity makes it a great match for seafood, particularly dishes like grilled fish or shrimp ceviche. 
					It also pairs well with salads, goat cheese, and dishes with fresh herbs. 
					Let the lively spirit of Sauvignon Blanc invigorate your dining experience with its vibrant presence and harmonious food pairings.
				</p>
				<button class="btn btn-outline-info w-50" style="align-items:end">Browse Selection</button>
			</div>
	</li>
</ul>
</div>

	<script defer src="/js/option.js" type="text/javascript"></script>
