
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Options";
}
<div>
	<img style="height:90vh; justify-content:center" src="/Images/hero.jpg"/>
</div>
<div>
<ul class="wineText">
    <li>
            <span>CABERNET SAUVIGNON</span>
    </li>
    <li>
            <span>PINOT NOIR</span>
    </li>
	<li>
		    <span>MERLOT</span>
	</li>
	<li>
            <span>SHRIAZ</span>
    </li>
   
	<li>
		<span>RIESLING</span>
	</li>
	<li>
		<span>PINOT GRIS</span>
	</li>
	<li>
         <span>CHARDONAY</span>
    </li>
	<li>
		<span>SAUVIGNON BLANC</span>
	</li>
</ul>
</div>

	<script defer src="/js/option.js" type="text/javascript"></script>
