@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Here at WineZ we take the utmost care to protect our customers’ information. Protecting your personal information is very important to us, this is why we apply the most advanced technical measures relating to best ecommerce security practice to protect against loss, alteration or unauthorised third party access to customer information. We use secure servers and secure socket layer (SSL) data transfer for strong encryption for all our customer information. An SSL certificate or "Secure Certificate" is an electronic document that is stored on our website that allows "Secure Socket Layer" (SSL) communication which is encrypted. When you enter a secure area on our website such as the 'My Account' section or the 'Checkout', you will notice a padlock switches on in your browser's status bar. In your address bar you see that an 's' gets added to 'http' which indicates the encryption of data. This means that any personal data entered on our website cannot be intercepted or read by any unauthorised third party.

    <br />
    <br />
    The servers on which we collect and store personal information are kept in a secure environment, as safe as any bank. Any information collected on the WineZ website will never be disclosed to any third-party under any circumstances. If you are using one of our order forms, we will only request the minimum information required to process your order. This information is used for shipping and billing purposes and to complete customer orders. If we have any issues when processing an order, this information will be used to contact a customer. At any time you can log into your 'My Account' and change your personal information such as your delivery or billing address details or your email address for our email newsletter offers. If you need to contact a member of our customer service team to help you update your personal data provided to us, you can use the Contact Us form.
    <br />
    <br />
    Collection for Statistical Information
    WineZ Ltd may collect statistical information regarding the pages you visit on our site which is non-identifiable. Occasionally we may also conduct a Customer Survey to help us improve our service, enhance customer service and gather information regarding purchasing and demographics. Any identifiable information is not requested. If you have any questions about the personal information we collect online or our privacy policy at WineZ, please email us or write to us at: WineZ Customer Care, PO Box 109 512, Newmarket, Auckland 1149
    <br />
    <br />
    IP Addresses
    Customer IP addresses may be used incidentally to help diagnose problems with our server or for administrative purposes. IP addresses are used to gather broad demographic data on customer traffic patterns and site usage. This information is only used internally and assists us in developing our website to improve our customers’ online experience.
    <br />
    <br />
    Cookies
    Cookies are small text files which contain information sent by a web server to store on a web browser, so it can be read back when you return to the site. This feature is helpful as it allows your web browser to remember specific information such as your user ID, items in your shopping cart and other customisations when you revisit our website days or weeks later by matching the cookie on your computer with the counterpart in the database.
    <br />
    <br />
    Cookies are used by many websites on the Internet and are very beneficial in being able to improve the functionality of websites, and the online experience for the user. Cookies cannot carry viruses and cannot install malware on your computer. We see it as our responsibility to provide transparency about the cookies we use on the WineZ website, so you can see what data we record, and why it has been recorded. The cookies we use are as follows:
    <br />• Front end
    <br />• PHPSESSID
    <br />
    <br />
    If you wish to control or delete cookies on your computer, you can do this in your web browser’s privacy settings. Please note that disabling cookies may diminish your online browsing experience. For more information on how to change the cookie settings in your browser, please click here
    <br />
    <br />
    Policy Updates
    We may from time to time update our security and privacy policy. Amendments to this policy will be posted on this page.
</p>
