@model IEnumerable<CapstoneWine.Models.SubscriptionsModel>

<link rel="stylesheet" href="~/css/sub.css" asp-append-version="true" />
<script defer src="/js/app.js" type="text/javascript"></script>

@{
	ViewData["Title"] = "Subsciptions";
}
<section>
	<h1 class="boldTitle"> Subscriptions </h1>
</section>
<section>
	<h1 class="divaText"><span class="logo hidden"> Discover  </span> <span class="logo hidden"> Savor  </span> <span class="logo hidden"> Indulge  </span></h1>
</section>
<section style="margin:70px auto 20px auto">
	<p class="blah">
		Embark on an extraordinary wine adventure with our exclusive wine subscriptions.
		Delight in the convenience of having exceptional, handpicked wines delivered right to your doorstep.
		Explore a curated selection of hidden gems and renowned vineyards from around the globe,
		allowing your palate to journey through diverse varietals, regions, and winemaking techniques.<br /><br />
		With detailed tasting notes and expert guidance, enhance your wine knowledge and unravel the stories behind each bottle.
		Whether you're a seasoned connoisseur or a curious enthusiast, our subscriptions offer a world of fine wines tailored to your preferences.
		Choose from our esteemed Cheap and Cheerful, Treat Yourself, or Cellarmaster's Selection subscriptions and elevate your wine experience.<br /><br />
		Discover, savor, and indulge in the captivating world of wine, one bottle at a time. Cheers to unforgettable moments and unforgettable wines!
	</p>
</section>

<section class="sub-cards-sec">
	@foreach (var item in Model)
	{
		<div class="card-column">
			<article class="card logo hidden">
				@*images need to be same ratio*@
				<img class="card__background" src="~/Images/sub/mixed.jpg" />
				<div class="card__content | flow">
					<div class="card__content--container | flow">
						<h2 class="card__title">@Html.DisplayFor(modelItem => item.SubName)</h2>
						<p class="card__description">
							These budget-friendly gems are handpicked to deliver fantastic flavors,
							ensuring that you can enjoy a glass of quality wine whenever the occasion calls for it.
						</p>
					</div>
				</div>
			</article>
			<a class="cart-btn" asp-controller="Home" asp-action="Add" asp-route-id="@item.SubID">Subscribe</a>
		</div>
	}
</section>