@{
    ViewData["Title"] = "Terms & Conditions";
}
<h1>@ViewData["Title"]</h1>

<p>
    Terms and Conditions
    Access and use of this site are subject to the following terms of use and all applicable laws. You may browse this site for information and the purchasing of product. However, modification, distribution, revision or transmittal of the contents of this site without written permission from WineZ Ltd is strictly prohibited.
    <br />
    <br />
    WineZ Ltd (trading here as, and hereafter referred to as, WineZ) makes no warranties or representations about the accuracy or completeness of this site's content, or of the content of any site that is linked to this site. Neither WineZ nor any of its affiliates shall be liable for any direct, incidental, consequential, indirect or punitive damages arising out of access to or use of any content of this site, or the content of any site linked to this site.
    <br />
    <br />
    Except for any personally identifiable information we may collect from you under the guidelines established in our Security & Privacy Policy, any communication or material you post or transmit to Wine Direct over the Internet is, and will be treated as, non-confidential and non-proprietary. By posting or transmitting any communication or material to this site, you agree that Wine Direct or any of its affiliates may use your communication or material for any purpose, including reproduction, transmission, publication, broadcast and posting. Furthermore, do not post or transmit any unlawful, threatening, libellous, defamatory, obscene, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offence or violate any law.
    <br />
    <br />
    Note that any personally identifiable information you may post or transmit will be treated in accordance with WineZ's Security & Privacy Policy. All names, logos and marks appearing on this site, unless otherwise noted, are trademarks owned or used under license by WineZ or its affiliates. The use or misuse of these trademarks or any other content on this site is strictly prohibited. By using this website, you signify your acceptance of our Terms and Conditions of Use and Security & Privacy Policy. If you do not agree with any of these terms, please do not use this site or submit any personal information.
</p>