<div class="container">
@{
	ViewData["Title"] = "Age Check";
}
<div class="login_layout">
	<div>
			<h1 class="boldTitle">@ViewData["Title"]</h1>
			<h3 class="divaText">Confirm you are 18+ to proceed.</h3>
	</div>

	
	<div class="background">
	<form class="bk_blur" style="width:30vw; margin-top:30px" method="post" asp-action="VerifyAge">
		<label class="label" style="margin-bottom:30px ;margin-top:0" formaction="dateOfBirth">Enter Your Date of Birth</label>
		<input class="input"  type="date" id="dateOfBirth" name="dateOfBirth" required>
		<button class=" w-100 btn btn-md btn-outline-light" style="margin-top:35px" type="submit">Submit</button>
	</form>
	</div>

</div>
</div>