@{
	ViewData["Title"] = "Age Check";
}
<h1>@ViewData["Title"]</h1>

<div>
	<form method="post" asp-action="VerifyAge">
		<label formaction="dateOfBirth">Date of Birth:</label>
		<input type="date" id="dateOfBirth" name="dateOfBirth" required>
		<button type="submit">Submit</button>
	</form>

</div>

