@model CapstoneWine.Models.OrdersModel


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WineID" class="control-label"></label>
                <select asp-for="WineID" class="form-control" asp-items="ViewBag.WineID"></select>
                <span asp-validation-for="WineID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubID" class="control-label"></label>
                <select asp-for="SubID" class="form-control" asp-items="ViewBag.SubID"></select>
                <span asp-validation-for="SubID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAdd" class="control-label"></label>
                <input asp-for="DeliveryAdd" class="form-control" />
                <span asp-validation-for="DeliveryAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryCharge" class="control-label"></label>
                <input asp-for="DeliveryCharge" class="form-control" />
                <span asp-validation-for="DeliveryCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <input asp-for="OrderStatus" class="form-control" />
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RewardPoints" class="control-label"></label>
                <input asp-for="RewardPoints" class="form-control" />
                <span asp-validation-for="RewardPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
