@page
@model ForgotPasswordModel
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel=”stylesheet”>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<div>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>

</div>

<div class="row">
    <div class="col-md-4">
			<form method="post">
				<h3>Enter your email.</h3>
				<hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div style ="margin:50px 0">
				<label asp-for="Input.Email" class="label"></label>
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div style="margin:50px 0">
                <button type="submit" class="w-100 btn btn-lg btn-outline-light">Reset Password</button>
		    </div>
		</form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
