@page
@model ForgotPasswordModel


@{
    ViewData["Title"] = "Forgot your password?";
}

<div class ="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
    <div class="background">
	<form method="post">
        <div class="btn-outline-light btn backbtn">
            <a href="javascript:history.back()"><</a>
        </div>
				<h3>Forgot your passowrd?</h3>
				<hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div style ="margin:50px 0">
				<label asp-for="Input.Email" class="label"></label>
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div style="margin:50px 0">
                <button type="submit" class="w-100 btn btn-lg btn-outline-light">Reset Password</button>
		    </div>
		</form>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
