@page
@model ResetPasswordModel


@{
    ViewData["Title"] = "Reset password";
}


<hr />
<div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="row">
        <form style="margin:auto; width:45vw" class="user_form bk_blur" id="registerform" method="post">
            <h3 class="bold">@ViewData["Title"]</h3>
            <div class="btn-outline-light btn backbtn" onclick="javascript:history.back()">
                <
            </div>
           
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <input asp-for="Input.Code" type="hidden" />
            <div>
                <label asp-for="Input.Email" class="label"></label>
                <input asp-for="Input.Email" class="input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <label asp-for="Input.Password" class=" label"></label>
                <input asp-for="Input.Password" class="input" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <label asp-for="Input.ConfirmPassword" class="label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />

                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
           @* <div class="form-floating mb-3">
                <label asp-for="Input.ConfirmPassword" class="label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>*@
            <button type="submit" class="w-100 btn btn-lg btn-primary" style="margin-top:3vw">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
