@model CapstoneWine.Models.ViewModels.CartViewModel
@{
	ViewData["Title"] = "Checkout";
}
@if (Model.CartItems.Count > 0)
{
	@*Form*@
	<h1>Order Complete</h1>

	<form method="post">
		<div class="row">
			<div class="col">
				<label class="label">Name:</label>
				<input class="input text-white" autocomplete="on" name="ShippingName" aria-required="true" placeholder="John Smith" required />
				<span class="text-danger"></span>

				<label class="label">Email:</label>
				<input class="input text-white" autocomplete="on" name="ShippingEmail" aria-required="true" placeholder="name@example.com" required />
				<span class="text-danger"></span>

				<label class="label">Mobile:</label>
				<input class="input text-white" autocomplete="on" name="ShippingMobile" aria-required="true" placeholder="+64 123 456" required />
				<span class="text-danger"></span>
			</div>
			<div class="col">
				<label class="label">Address:</label>
				<input class="input text-white" aria-required="true" name="ShippingAddress" placeholder="123 Boluvard Street" required />
				<span class="text-danger"></span>

				<label class="label">Address 2:</label>
				<input class="input text-white" aria-required="true" placeholder="123 Boluvard Street" />
				<span class="text-danger"></span>

				<label class="label">Delivery Instructions</label>
				<input class="input text-white" placeholder="eg: Leave at backdoor" />
				<span class="text-danger"></span>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<div class="text-end">
					<div class="btn-group">
						<span style="padding:5px"></span>
						<input type="submit" value="Send Receipt" class="btn btn-outline-success">
					</div>
				</div>
			</div>
		</div>

	</form>

}
else
{
	<h1>Order Complete!</h1>
	<a class="btn btn-outline-success" asp-controller="Shop" asp-action="Index">Shop Page</a>
}