body {
    font-family: "Lato", sans-serif;
    margin: 0;
    margin-top: 70px;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 2rem;
}

.table-title {
    font-family: 'Bebas Neue';
    font-size: 2rem;
}

.wines-table {
    /*table-layout: fixed;*/
    width: 100%;
}

.img {
    vertical-align: text-top;
    height: 180px;
    width: 100px;
    object-fit: contain;
}

th, td {
    vertical-align: text-top;
    padding: 1em;
    border-bottom: 2px solid white;
    word-wrap: break-word;
}

th {
    padding-left: 1rem;
    background-color: darkblue;
}

td {
    padding: 1rem;
    background-color: rgba(20, 20, 244, 0.2);
}

tr:nth-of-type(2n) {
    background-color: rgba(20, 20, 244, 0.1);
}

.hide-overflow {
    /*white-space: nowrap;*/ /* Prevent line breaks within table cells */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Display ellipsis for overflowing content */
}

form {
    all: unset;
}

.navbar {
    background-color: var(--bg-color);
}

.top-sect {
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
    position: sticky;
    top: 70px;
    background-color: var(--bg-color)
}

    .top-sect .inactive {
        color: rgba(200, 200, 200,0.3);
        font-size: 1.6rem;
    }

        .top-sect .inactive:hover {
            color: rgba(200, 200, 200,0.6);
        }

.search-row {
    display: grid;
    grid-template-columns: 9fr 1fr;
    column-gap: 5px;
    max-width: 50%;
}

.search-bar {
    border: 2.7px solid darkblue;
    border-radius: 5px;
    height: 40px;
    color: black;
    padding-left: 5px;
    background-color: rgba(255);
}

.search-btn {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: darkblue;
    font-size: 1rem;
}

@media (max-width: 950px) {
    th {
        display: none;
    }
    td {
        display: grid;
        border: none;
    }
        td:nth-child(1)::before {
            content: 'Wine Name:';
            font-weight: bold;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.46em;
        }
        td:nth-child(2)::before {
            content: 'Image:';
            font-weight: bold;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.46em;
        }

        td:nth-child(3)::before {
            content: 'Price:';
            font-weight: bold;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.46em;
        }

        td:nth-child(4)::before {
            content: 'Blurb:';
            font-weight: bold;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.46em;
        }

        td:nth-child(5)::before {
            content: 'Quantity:';
            font-weight: bold;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.46em;
        }

        td:nth-child(6)::before {
            content: 'Type:';
            font-weight: bold;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.46em;
        }

        td:nth-child(7)::before {
            content: 'Category:';
            font-weight: bold;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.46em;
        }
}