

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 70px;
    background-color:inherit;
    margin-bottom: 0px;
    cursor: none;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.p {
    font-size: 24px;
    line-height: 22px;
}

.background {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.shape {
    aspect-ratio: 1;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}
    /*blue*/
    .shape:first-child {
        background: linear-gradient( #1845ad, #23a2f6 );
        left: 20%;
        top: -0px;
    }
    /*Orange*/
    .shape:nth-child(2) {
        background: linear-gradient( to right, #ff512f, #f09819 );
        right: 20%;
        bottom: -0px;
    }
/*user_form+ bk_blur to create login form style*/
.bk_blur {
    height: auto;
    background-color:var(--white);
    /*background-color: rgba(13, 110, 253, 0.13);*/
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
}

.user_form {
    padding: 30px 35px;
    align-content: center;
}

form * {
    font-family: 'Poppins',sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.exit {
    background-color: transparent;
    margin-top: 2vh;
    padding: 6px;
    border: none;
    width: auto;
    font-family: 'Gruppo', cursive;
    color:var(--bg-color);
    text-decoration: none;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color:var(--white-text);
    text-align: center;
    margin: 40px 0;
}

.label {
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 500;
}

.input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: var(--white);
    border-radius: 3px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;
}
.input::placeholder{
    opacity:.7;
}

textarea {
    width: 500px;
    height: 250px;
}

::placeholder {
    color: var(--light);
}

.button {
    margin-top: 50px;
    width: 100%;
    background-color:var(--white);
    color: var(--white-text);
    padding: 15px 0;
    font-size: 28px;
    font-weight: 600;
    border-radius: 5px;
    cursor: none;
}

.social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

    .social div {
        flex-grow: 1;
        border-radius: 3px;
        padding: 15px;
        background-color:var(--bg-color);
        color: var(--light);
        text-align: center;
        margin: 5px;
        vertical-align: central;
    }

        .social div:hover {
            background-color:var(--white);
        }

    .social .fb {
        margin-left: 25px;
    }

    .social i {
        margin-right: 4px;
    }

.backbtn {
    margin-bottom:5px;
    margin-top: 5px;
    border-radius: 50px;
    -webkit-text-stroke: thick;
}

/*about/contact css*/
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr .4fr;
    gap: 0.4fr;
    justify-items: flex-start
}

.row > p {
    font-family: var(--font-text);
    font-size: 22px;
    line-height: 1.7;
    
}

/*Icon stuff*/
.wrapper {
    display: inline-flex;
    list-style: none;
}

    .wrapper .icon {
        position: relative;
        background:var(--white-text);
        border-radius: 50%;
        padding: 2px;
        margin: 0px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        background: var(--white-text);
        color: var(--white-text);
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

        .wrapper .tooltip::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background: var(--white-text);
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

    .wrapper .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover .tooltip::before {
        background: #1356afce;
        color: var(--white-text);
    }

    .wrapper .twitter:hover,
    .wrapper .twitter:hover .tooltip,
    .wrapper .twitter:hover .tooltip::before {
        background: #29a7f5;
        color: var(--white-text);
    }

    .wrapper .instagram:hover,
    .wrapper .instagram:hover .tooltip,
    .wrapper .instagram:hover .tooltip::before {
        background: #f17399;
        color: var(--white-text);
    }

    .wrapper .github:hover,
    .wrapper .github:hover .tooltip,
    .wrapper .github:hover .tooltip::before {
        background: #333333;
        color: var(--white-text);
    }

    .wrapper .youtube:hover,
    .wrapper .youtube:hover .tooltip,
    .wrapper .youtube:hover .tooltip::before {
        background: #CD201F;
        color: var(--white-text);
    }

.fab fa-youtube {
    display: none;
    visibility: hidden;
}