body {
    color: black;
    background-color: white;
    font-family: 'Bebas Neue';
    margin-top: 70px;
}

footer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 99vw;
    padding-bottom: 50px;
}

h1{
    color: black;
    margin: 20px;
}
.navbar {
    background-color: #080710;
}

.nav-menu {
    background-color: rgba(10,10,10,0.3);
    border-radius: 0 19px 19px 0;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.57rem;
    place-items: center;
    margin-top: 0px;
}

.product-box {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 60% auto auto auto;
    align-self: center;
    gap: 0.8rem;
    height: 24rem;
    width: 100%;
    margin-top: 15px;
    margin-left: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    /*background-color: pink;*/
}

.img {
    grid-area: 1/1/1/1;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.price {
    /*background-color:aqua;*/
    grid-area: 2/1/2/1;
}

.quantity {
    /*background-color: red;*/
    grid-area: 3/1/3/1;
}

.cart {
    grid-area: 4/1/4/3;
    background-color: #040b4f;
    text-align: center;
    color: white;
    border-radius: 5px;
}

    .cart:hover {
        background-color: lightgrey;
        color: black;
    }

.blurb {
    /*background-color: yellow;*/
    grid-area: 1/2/4/2;
    overflow-y: auto;
}

    .blurb::-webkit-scrollbar {
        display: none;
    }

.product-title {
    font-family: 'Bebas Neue';
    font-size: 1.37rem;
}

.back-text {
    margin:0;
    padding: 0;
    font-size: clamp(1.3em, 1.57em, 2em);
}