html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    cursor: none;
    color: #000;
    background-color: #fff;
}

body {
    margin-bottom: 60px;
    height: 100%;
    cursor: none;
    color: #000;
    background-color: #fff;
}

#invertedcursor {
    pointer-events: none;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
}