html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    background-color: #fff;
}

body {
    margin-bottom: 60px;
    min-height: 91vh;
    cursor: none;
}

.bg-home {
    background-color: black;
}

#invertedcursor {
    pointer-events: none;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 9999;
    mix-blend-mode: difference;
    transition: transform .2s;
}

.slide-box {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

/* Container should be full height and full width */
.vid-container {
    position: relative;
    left: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    transform: translate(-100%, 0%);
    transition: transform 1s ease-out;
}

    .vid-container > .bg-video {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        overflow: hidden;
        transform: translate(-100%, 0%);
        transition: transform 1s ease-out;
    }

    /* background-color and color should be the same as the below otherwise it won't work */
    .vid-container > .text {
        position: absolute;
        text-align: center;
        inset: 0;
        display: grid;
        place-items: center;
        background-color: #000;
        color: #ffffff;
        font-weight: 900;
        font-size: 100px;
        font-family: sans-serif;
        /* Mix Blend Mode does the all magic */
        mix-blend-mode: multiply;
        user-select: none;
        transform: translate(-100%, 0%);
        transition: transform 1s ease-out;
    }
