:root {
    --bg-color: #080710;
    --primary-text-color: white;
    --accent-color: rgba(0, 5, 99, 1);
    --header-size: 70px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
/*Onhover text tricks...*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    background-color: #080710;
}

body {
    margin-top: var(--header-size); /*offsets the body by the height of navbar for all pages*/
}

.body {
    margin-top:10px;
    margin-bottom: 20px;
    cursor: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
}
.show{
    opacity:0;
}
.hamburger:hover .show{
    opacity:1;
}
.nav-cart:hover .show{
    opacity:1;
   text-align:center;
}
.hero {
    height: 95vh;
    cursor:inherit;
    padding-left:8%;
}

footer{
    /*margin-top:auto;*/
    position:absolute;
    top: 100%;
    width:99vw;
    height:2.5rem;
}

.heading {
    height: 90vh;
    display: grid;
    place-items: center;
    font-size: 200px;
    z-index: 10;
}

.bg-home {
    background-color: black;
}

#invertedcursor {
    pointer-events: none;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 9999;
    mix-blend-mode: difference;
    transition: transform .2s;
}

.slide-box {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
}

/* Container should be full height and full width */
.vid-container {
    position: relative;
    left: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    transform: translate(-100%, 0%);
    transition: transform .5s ease-out;
}

    .vid-container > .bg-video {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        overflow: hidden;
        transform: translate(-100%, 0%);
        transition: transform .5s ease-out, opacity 0.3s ease;
        opacity:0;
    }
    .vid-container:hover .bg-video {
        opacity: 1;
    }

    /* background-color and color should be the same as the below otherwise it won't work */
    .vid-container > .text {
        position: absolute;
        text-align: center;
        inset: 0;
        display: grid;
        place-items: center;
        background-color: #000;
        color: white;
        font-weight: 900;
        /*font update*/
        font-size: 10vw;
        font-family: 'Bebas Neue';
        /* Mix Blend Mode = magic */
        mix-blend-mode: multiply;
        user-select: none;
        transform: translate(-100%, 0%);
        transition: transform .5s ease-out;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: white;
        
        
    }

.boldTitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vw;
    margin: 0px 0px;
    text-align: center;
}

.divaText {
    font-family: 'Gruppo', cursive;
    text-align: center;
    font-size: 5rem;
    color: white;
}



