@model CapstoneWine.Models.SubscriptionsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Subscriptions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubID" />
            <div class="form-group">
                <label asp-for="SubName" class="control-label"></label>
                <input asp-for="SubName" class="form-control" />
                <span asp-validation-for="SubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfBottles" class="control-label"></label>
                <input asp-for="NumOfBottles" class="form-control" />
                <span asp-validation-for="NumOfBottles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RewardPoints" class="control-label"></label>
                <input asp-for="RewardPoints" class="form-control" />
                <span asp-validation-for="RewardPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BtlPrice" class="control-label"></label>
                <input asp-for="BtlPrice" class="form-control" />
                <span asp-validation-for="BtlPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDel" class="control-label"></label>
                <input asp-for="PricePerDel" class="form-control" />
                <span asp-validation-for="PricePerDel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
